.joeur-content{
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(235, 231, 231);
}

.joeur1{
    padding: 10px;
    border-radius: 5px;
}